.main{
    margin: 30px 10px;
    color: rgb(96, 39, 201);
    padding: 18px;
}
.main img{
    width: 100%;
}
.main p{
    width: 70%;
    margin: 0 auto;
}
.main .small{
    /* height: 15% !important; */
    /* border: 2px solid green; */
    cursor: pointer;
}
.main .pre-cost .cost{
    transition: 1s;
    margin-bottom: 10px;
    width: 100%;
}
.main .pre-cost .cost:hover{
    transform: scale(1.1);
    /* cursor: pointer; */
}
.main .pre-cost{
    cursor: pointer;
}
.main button{
    margin: 10px 0;
}