.App {
  
  color: white;
}
.course{
  display: flex;
}
@media (max-width: 770px){
  .course{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .course-details{
    margin: 0 auto !important;
    width: 75%;
  }
  .course-cart{
    margin: 40px 0px;
    width: 20% ;
  }
}
.course-details{
  width: 80%;
}
